@import url('https://fonts.googleapis.com/css?family=Knewave');
$defbackcolor: #d8d8d8;
$deftextcolor: #1e1e1e;
$defprimcolor: #02cece;
$defseccolor: #d37f00;
$defnavcolor: #1a172b;
$navfontfam: 'Knewave', cursive;
$fontfam: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$gradcolor: -webkit-linear-gradient(left, #27d18a, #29c0d1), linear-gradient(to right, #25c481, #25b7c4);
$nbrmw: 519px; //navbar responsive hide max width



/*      Tags       *\
\*                 */


*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    //line-height: 142%;
    background-color: $defbackcolor;
    font-family: $fontfam;
    color: $deftextcolor;
}

header{
    position: relative;
    padding: 20px;
    background-color: #5aaec7;
    // background-image: $gradcolor;
    // background-size: 100%;
    height: 1em;
    font-family: $navfontfam;
}

.flex-container{
    display: flex;
}
h1{
    position: relative;
    display: block;
    color: #1E1E1E;
    margin: 10px;
    top: -30px;
}

#navcp{
    margin-left: 2vw;
    text-transform: uppercase;
    color: #4646469d;
}

nav {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s linear;
    font-family: $navfontfam;
    padding: 0;

    ul {
        
        margin: 0;
        padding-left: 15px ;
        background-color: $defnavcolor;
        
        li {
            display: inline-block;
            padding: 10px 0px;
            transition: padding 0.1s linear;
            
            a {
                color: $defprimcolor;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                transition: color ease-in-out 500ms;
                
            }
            
            a:hover {
                color: $defseccolor;
            }
        }
        
        li+li {
            margin-left: 25px;
        }
    }
}


main {
    padding: 15px;
    background-color: $defbackcolor;
    height: 200vh;
}

/*      Classes       *\
\*                    */

.sticky.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    margin-top: 0;
    width: 100%;
    opacity: 0.8;
}

.sticky.is-fixed ul li {
    padding: 0;
}


@media only screen and (max-width: $nbrmw) {
    nav li {
        display: none;
    }

}