<% include ../partials/header.ejs %>
<style>

</style>
<main>


    <div class="about">

    </div>

    <div class="media">

    </div>

    <div class="info">

    </div>

    <div class="gameSpecific">

    </div>

    <div class="guides">

    </div>

    <div class="comments">

    </div>

</main>

<% include ../partials/footer.ejs %>