<% include ../partials/header.ejs %>

<main>
<div class="container">
<div class="about"></div>
<div class="media"></div>
<div class="info"></div>
<div class="gameSpecific"></div>
<div class="guides"></div>
<div class="comments"></div>
</div>
</main>

<% include ../partials/footer.ejs %>