main{
    display: grid;
    grid-template-rows: ;
    grid-template-columns: ;
}

.about{
    color:black;
}

.info{
    color: blue;
}

.media{
    color: magenta;
}

.gameSpecific{
    color: lime;
}

.guide{
    color: red;
}

.comments{
    color: yellow;
}